<div class="containerFaker">
    {{#each products}}
    {{#if this.description}}
    <div class="productsFaker">
        <h2 class="linea">{{this.title}}</h2>
        <p>Description: {{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Code: {{this.code}}</p>
        <p>Category: {{this.category}}</p>
        <img class="imgFaker" src="{{this.thumbnail}}" alt="{{this.description}}">
        <br>
        <button class="success agregar" type="submit" data-productid="{{this.id}}">Agregar al carrito</button>
    </div>
    {{/if}}
    {{/each}}
</div>