
{{#each product}}
{{#if this.description}}

   <div class="box">
     <div class="products">
        <h2 class="linea"> {{this.title}}</h2>
        <p>Description: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Code: {{this.code}}</p>
        <p>Category: {{this.category}}</p>
        <img src="/img/{{this.thumbnail}}" alt="{{this.description}}">
        <input type="hidden" class="product-owner" value="{{this.owner}}">
        <br>
        <button class="success agregar" type="submit" data-productid="{{this._id}}" >Agregar al carrito</button>
    </div>

   </div>
{{/if}}
{{/each}}
